[submodule "ypm_plugins/add_template"]
	path = ypm_plugins/add_template
	url = git@github.com:mickidymick/add_template.git
[submodule "ypm_plugins/auto_paren"]
	path = ypm_plugins/auto_paren
	url = git@github.com:mickidymick/auto_paren.git
[submodule "ypm_plugins/find_bracket"]
	path = ypm_plugins/find_bracket
	url = git@github.com:mickidymick/find_bracket.git
[submodule "ypm_plugins/lang/syntax/lang-syntax-c"]
	path = ypm_plugins/lang/syntax/lang-syntax-c
	url = git@github.com:mickidymick/lang-syntax-c.git
