[submodule "ypm_plugins/add_template"]
	path = ypm_plugins/add_template
	url = https://github.com/mickidymick/add_template.git
[submodule "ypm_plugins/auto_paren"]
	path = ypm_plugins/auto_paren
	url = https://github.com/mickidymick/auto_paren.git
[submodule "ypm_plugins/find_bracket"]
	path = ypm_plugins/find_bracket
	url = https://github.com/mickidymick/find_bracket.git
[submodule "ypm_plugins/loc_history"]
	path = ypm_plugins/loc_history
	url = https://github.com/mickidymick/loc_history.git
[submodule "ypm_plugins/man"]
	path = ypm_plugins/man
	url = https://github.com/kammerdienerb/yed-man.git
[submodule "ypm_plugins/ctags"]
	path = ypm_plugins/ctags
	url = https://github.com/kammerdienerb/yed-ctags.git
[submodule "ypm_plugins/style_use_term_bg"]
	path = ypm_plugins/style_use_term_bg
	url = https://github.com/kammerdienerb/yed-style_use_term_bg.git
[submodule "ypm_plugins/scroll_buffer"]
	path = ypm_plugins/scroll_buffer
	url = https://github.com/kammerdienerb/yed-scroll_buffer.git
[submodule "ypm_plugins/paren_hl"]
	path = ypm_plugins/paren_hl
	url = https://github.com/kammerdienerb/yed-paren_hl.git
[submodule "ypm_plugins/comment"]
	path = ypm_plugins/comment
	url = https://github.com/kammerdienerb/yed-comment.git
[submodule "ypm_plugins/jump_stack"]
	path = ypm_plugins/jump_stack
	url = https://github.com/kammerdienerb/yed-jump_stack.git
[submodule "ypm_plugins/yedrc"]
	path = ypm_plugins/yedrc
	url = https://github.com/kammerdienerb/yed-yedrc.git
[submodule "ypm_plugins/shell_run"]
	path = ypm_plugins/shell_run
	url = https://github.com/kammerdienerb/yed-shell_run.git
[submodule "ypm_plugins/grep"]
	path = ypm_plugins/grep
	url = https://github.com/kammerdienerb/yed-grep.git
[submodule "ypm_plugins/calc"]
	path = ypm_plugins/calc
	url = https://github.com/kammerdienerb/yed-calc.git
[submodule "ypm_plugins/completer"]
	path = ypm_plugins/completer
	url = https://github.com/kammerdienerb/yed-completer.git
[submodule "ypm_plugins/lang/tools/latex"]
	path = ypm_plugins/lang/tools/latex
	url = https://github.com/kammerdienerb/yed-lang-tools-latex.git
[submodule "ypm_plugins/lang/python"]
	path = ypm_plugins/lang/python
	url = https://github.com/kammerdienerb/yed-lang-python.git
[submodule "ypm_plugins/lang/latex"]
	path = ypm_plugins/lang/latex
	url = https://github.com/kammerdienerb/yed-lang-latex.git
[submodule "ypm_plugins/lang/yedrc"]
	path = ypm_plugins/lang/yedrc
	url = https://github.com/kammerdienerb/yed-lang-yedrc.git
[submodule "ypm_plugins/lang/glsl"]
	path = ypm_plugins/lang/glsl
	url = https://github.com/kammerdienerb/yed-lang-glsl.git
[submodule "ypm_plugins/lang/sh"]
	path = ypm_plugins/lang/sh
	url = https://github.com/kammerdienerb/yed-lang-sh.git
[submodule "ypm_plugins/lang/cpp"]
	path = ypm_plugins/lang/cpp
	url = https://github.com/kammerdienerb/yed-lang-cpp.git
[submodule "ypm_plugins/lang/make"]
	path = ypm_plugins/lang/make
	url = https://github.com/kammerdienerb/yed-lang-make.git
[submodule "ypm_plugins/lang/syntax/python"]
	path = ypm_plugins/lang/syntax/python
	url = https://github.com/kammerdienerb/yed-lang-syntax-python.git
[submodule "ypm_plugins/lang/syntax/latex"]
	path = ypm_plugins/lang/syntax/latex
	url = https://github.com/kammerdienerb/yed-lang-syntax-latex.git
[submodule "ypm_plugins/lang/syntax/yedrc"]
	path = ypm_plugins/lang/syntax/yedrc
	url = https://github.com/kammerdienerb/yed-lang-syntax-yedrc.git
[submodule "ypm_plugins/lang/syntax/glsl"]
	path = ypm_plugins/lang/syntax/glsl
	url = https://github.com/kammerdienerb/yed-lang-syntax-glsl.git
[submodule "ypm_plugins/lang/syntax/sh"]
	path = ypm_plugins/lang/syntax/sh
	url = https://github.com/kammerdienerb/yed-lang-syntax-sh.git
[submodule "ypm_plugins/lang/syntax/cpp"]
	path = ypm_plugins/lang/syntax/cpp
	url = https://github.com/kammerdienerb/yed-lang-syntax-cpp.git
[submodule "ypm_plugins/lang/syntax/jgraph"]
	path = ypm_plugins/lang/syntax/jgraph
	url = https://github.com/kammerdienerb/yed-lang-syntax-jgraph.git
[submodule "ypm_plugins/lang/syntax/conf"]
	path = ypm_plugins/lang/syntax/conf
	url = https://github.com/kammerdienerb/yed-lang-syntax-conf.git
[submodule "ypm_plugins/lang/jgraph"]
	path = ypm_plugins/lang/jgraph
	url = https://github.com/kammerdienerb/yed-lang-jgraph.git
[submodule "ypm_plugins/lang/conf"]
	path = ypm_plugins/lang/conf
	url = https://github.com/kammerdienerb/yed-lang-conf.git
[submodule "ypm_plugins/lang/c"]
	path = ypm_plugins/lang/c
	url = https://github.com/kammerdienerb/yed-lang-c.git
[submodule "ypm_plugins/styles/vt"]
	path = ypm_plugins/styles/vt
	url = https://github.com/kammerdienerb/yed-style-vt.git
[submodule "ypm_plugins/styles/forest"]
	path = ypm_plugins/styles/forest
	url = https://github.com/kammerdienerb/yed-style-forest.git
[submodule "ypm_plugins/styles/moss"]
	path = ypm_plugins/styles/moss
	url = https://github.com/kammerdienerb/yed-style-moss.git
[submodule "ypm_plugins/styles/elly"]
	path = ypm_plugins/styles/elly
	url = https://github.com/kammerdienerb/yed-style-elly.git
[submodule "ypm_plugins/styles/embark"]
	path = ypm_plugins/styles/embark
	url = https://github.com/kammerdienerb/yed-style-embark.git
[submodule "ypm_plugins/styles/river"]
	path = ypm_plugins/styles/river
	url = https://github.com/kammerdienerb/yed-style-river.git
[submodule "ypm_plugins/styles/doug"]
	path = ypm_plugins/styles/doug
	url = https://github.com/kammerdienerb/yed-style-doug.git
[submodule "ypm_plugins/styles/blue"]
	path = ypm_plugins/styles/blue
	url = https://github.com/kammerdienerb/yed-style-blue.git
[submodule "ypm_plugins/styles/acme"]
	path = ypm_plugins/styles/acme
	url = https://github.com/kammerdienerb/yed-style-acme.git
[submodule "ypm_plugins/styles/disco"]
	path = ypm_plugins/styles/disco
	url = https://github.com/kammerdienerb/yed-style-disco.git
[submodule "ypm_plugins/styles/first"]
	path = ypm_plugins/styles/first
	url = https://github.com/kammerdienerb/yed-style-first.git
[submodule "ypm_plugins/styles/mordechai"]
	path = ypm_plugins/styles/mordechai
	url = https://github.com/kammerdienerb/yed-style-mordechai.git
[submodule "ypm_plugins/styles/skyfall"]
	path = ypm_plugins/styles/skyfall
	url = https://github.com/kammerdienerb/yed-style-skyfall.git
[submodule "ypm_plugins/styles/lab"]
	path = ypm_plugins/styles/lab
	url = https://github.com/kammerdienerb/yed-style-lab.git
[submodule "ypm_plugins/styles/dracula"]
	path = ypm_plugins/styles/dracula
	url = https://github.com/kammerdienerb/yed-style-dracula.git
[submodule "ypm_plugins/styles/solarized"]
	path = ypm_plugins/styles/solarized
	url = https://github.com/kammerdienerb/yed-style-solarized.git
[submodule "ypm_plugins/styles/tempus_future"]
	path = ypm_plugins/styles/tempus_future
	url = https://github.com/kammerdienerb/yed-style-tempus_future.git
[submodule "ypm_plugins/styles/drift"]
	path = ypm_plugins/styles/drift
	url = https://github.com/kammerdienerb/yed-style-drift.git
[submodule "ypm_plugins/styles/nord"]
	path = ypm_plugins/styles/nord
	url = https://github.com/kammerdienerb/yed-style-nord.git
[submodule "ypm_plugins/styles/vt_light"]
	path = ypm_plugins/styles/vt_light
	url = https://github.com/kammerdienerb/yed-style-vt_light.git
[submodule "ypm_plugins/styles/cadet"]
	path = ypm_plugins/styles/cadet
	url = https://github.com/kammerdienerb/yed-style-cadet.git
[submodule "ypm_plugins/styles/sammy"]
	path = ypm_plugins/styles/sammy
	url = https://github.com/kammerdienerb/yed-style-sammy.git
[submodule "ypm_plugins/styles/elise"]
	path = ypm_plugins/styles/elise
	url = https://github.com/kammerdienerb/yed-style-elise.git
[submodule "ypm_plugins/styles/mrjantz"]
	path = ypm_plugins/styles/mrjantz
	url = https://github.com/kammerdienerb/yed-style-mrjantz.git
[submodule "ypm_plugins/styles/bullet"]
	path = ypm_plugins/styles/bullet
	url = https://github.com/kammerdienerb/yed-style-bullet.git
[submodule "ypm_plugins/styles/bold"]
	path = ypm_plugins/styles/bold
	url = https://github.com/kammerdienerb/yed-style-bold.git
[submodule "ypm_plugins/styles/book"]
	path = ypm_plugins/styles/book
	url = https://github.com/kammerdienerb/yed-style-book.git
[submodule "ypm_plugins/styles/hat"]
	path = ypm_plugins/styles/hat
	url = https://github.com/kammerdienerb/yed-style-hat.git
[submodule "ypm_plugins/styles/olive"]
	path = ypm_plugins/styles/olive
	url = https://github.com/kammerdienerb/yed-style-olive.git
[submodule "ypm_plugins/styles/gruvbox"]
	path = ypm_plugins/styles/gruvbox
	url = https://github.com/kammerdienerb/yed-style-gruvbox.git
[submodule "ypm_plugins/styles/dalton"]
	path = ypm_plugins/styles/dalton
	url = https://github.com/kammerdienerb/yed-style-dalton.git
[submodule "ypm_plugins/styles/papercolor"]
	path = ypm_plugins/styles/papercolor
	url = https://github.com/kammerdienerb/yed-style-papercolor.git
[submodule "ypm_plugins/styles/casey"]
	path = ypm_plugins/styles/casey
	url = https://github.com/kammerdienerb/yed-style-casey.git
[submodule "ypm_plugins/styles/monokai"]
	path = ypm_plugins/styles/monokai
	url = https://github.com/kammerdienerb/yed-style-monokai.git
[submodule "ypm_plugins/styles/humanoid"]
	path = ypm_plugins/styles/humanoid
	url = https://github.com/kammerdienerb/yed-style-humanoid.git
[submodule "ypm_plugins/align"]
	path = ypm_plugins/align
	url = https://github.com/kammerdienerb/yed-align.git
[submodule "ypm_plugins/style_picker"]
	path = ypm_plugins/style_picker
	url = https://github.com/kammerdienerb/yed-style_picker.git
[submodule "ypm_plugins/macro"]
	path = ypm_plugins/macro
	url = https://github.com/kammerdienerb/yed-macro.git
[submodule "ypm_plugins/profile"]
	path = ypm_plugins/profile
	url = https://github.com/kammerdienerb/yed-profile.git
[submodule "ypm_plugins/brace_hl"]
	path = ypm_plugins/brace_hl
	url = https://github.com/kammerdienerb/yed-brace_hl.git
[submodule "ypm_plugins/find_file"]
	path = ypm_plugins/find_file
	url = https://github.com/kammerdienerb/yed-find_file.git
[submodule "ypm_plugins/log_hl"]
	path = ypm_plugins/log_hl
	url = https://github.com/kammerdienerb/yed-log_hl.git
[submodule "ypm_plugins/indent_c"]
	path = ypm_plugins/indent_c
	url = https://github.com/kammerdienerb/yed-indent_c.git
[submodule "ypm_plugins/autotrim"]
	path = ypm_plugins/autotrim
	url = https://github.com/kammerdienerb/yed-autotrim.git
[submodule "ypm_plugins/line_numbers"]
	path = ypm_plugins/line_numbers
	url = https://github.com/kammerdienerb/yed-line_numbers.git
[submodule "ypm_plugins/builder"]
	path = ypm_plugins/builder
	url = https://github.com/kammerdienerb/yed-builder.git
[submodule "ypm_plugins/style_pack"]
	path = ypm_plugins/style_pack
	url = https://github.com/kammerdienerb/yed-style_pack.git
[submodule "ypm_plugins/vimish"]
	path = ypm_plugins/vimish
	url = https://github.com/kammerdienerb/yed-vimish.git
[submodule "ypm_plugins/cursor_word_hl"]
	path = ypm_plugins/cursor_word_hl
	url = https://github.com/kammerdienerb/yed-cursor_word_hl.git
[submodule "ypm_plugins/hook"]
	path = ypm_plugins/hook
	url = https://github.com/kammerdienerb/yed-hook.git
[submodule "ypm_plugins/lang/syntax/c"]
	path = ypm_plugins/lang/syntax/c
	url = https://github.com/kammerdienerb/yed-lang-syntax-c.git
[submodule "ypm_plugins/fstyle"]
	path = ypm_plugins/fstyle
	url = https://github.com/kammerdienerb/yed-fstyle
[submodule "ypm_plugins/word_wrap"]
	path = ypm_plugins/word_wrap
	url = https://github.com/benbenolson/word_wrap.git
[submodule "ypm_plugins/drill"]
	path = ypm_plugins/drill
	url = https://github.com/uniquepointer/yed-drill
[submodule "ypm_plugins/styles/midnight"]
	path = ypm_plugins/styles/midnight
	url = https://github.com/uniquepointer/yed-style-midnight
[submodule "ypm_plugins/lang/go"]
	path = ypm_plugins/lang/go
	url = https://github.com/uniquepointer/yed-lang-go
[submodule "ypm_plugins/lang/syntax/go"]
	path = ypm_plugins/lang/syntax/go
	url = https://github.com/uniquepointer/yed-lang-syntax-go
[submodule "ypm_plugins/lang/tools/gofmt"]
	path = ypm_plugins/lang/tools/gofmt
	url = https://github.com/uniquepointer/yed-lang-tools-gofmt
[submodule "ypm_plugins/formatter"]
	path = ypm_plugins/formatter
	url = https://github.com/mickidymick/formatter.git
[submodule "ypm_plugins/styles/crunchy_leaves"]
	path = ypm_plugins/styles/crunchy_leaves
	url = https://github.com/imml3457/crunchy_leaves
[submodule "ypm_plugins/go_menu"]
	path = ypm_plugins/go_menu
	url = https://github.com/kammerdienerb/yed-go_menu
[submodule "ypm_plugins/git_variables"]
	path = ypm_plugins/git_variables
	url = https://github.com/JacobMalloy/yed-git_variables.git
[submodule "ypm_plugins/zulu"]
	path = ypm_plugins/zulu
	url = git@github.com:mickidymick/zulu.git
[submodule "ypm_plugins/lang/syntax/zig"]
	path = ypm_plugins/lang/syntax/zig
	url = https://github.com/uniquepointer/yed-lang-syntax-zig
[submodule "ypm_plugins/lang/zig"]
	path = ypm_plugins/lang/zig
	url = https://github.com/uniquepointer/yed-lang-zig
